<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.shajikhan.ladspa.amprack">

    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="com.android.vending.BILLING" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MySplash">
        <activity
            android:name=".Files"
            android:exported="false"
            android:label="@string/title_activity_files"
            android:theme="@style/Theme.MySplash.NoActionBar" />
        <activity
            android:name=".ConnectGuitar"
            android:exported="false"
            android:label="@string/title_activity_connect_guitar"
            android:theme="@style/Theme.AmpRack" />

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-3940256099942544~3347511713" />

        <activity
            android:name=".Purchase"
            android:exported="false"
            android:label="@string/title_activity_purchase"
            android:theme="@style/Theme.AmpRack">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.shajikhan.ladspa.amprack.MainActivity" />
        </activity>
        <activity
            android:name=".SettingsActivity"
            android:exported="false"
            android:label="@string/title_activity_settings"
            android:theme="@style/Theme.AmpRack">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.shajikhan.ladspa.amprack.MainActivity" />
        </activity>
        <activity
            android:name=".FirebaseUI"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.shajikhan.ladspa.amprack.fileprovider"
            android:grantUriPermissions="true"
            android:exported="false">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/filepaths" />
        </provider>

    </application>

</manifest>